.confirm-container {
    display: flex;
    flex-direction: column;
}
.validation {
    display: flex;
    justify-content: center;
}

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    padding: 15px;
}