.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.profile-avatar:hover {
    cursor: pointer;
    filter: brightness(80%);

}

.deleteAvatarButton{
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.container:hover .deleteAvatarButton {
    opacity: 1;
}